
C++ Development Root/MSVC++v16 (2019) Solution Space/.vs/MSVC++v16 (2019) Solution Space/v16/Browse.VC.db
C++ Development Root/MSVC++v16 (2019) Solution Space/.vs/MSVC++v16 (2019) Solution Space/v16/Browse.VC.db-shm
C++ Development Root/MSVC++v16 (2019) Solution Space/.vs/MSVC++v16 (2019) Solution Space/v16/Browse.VC.db-wal
C++ Development Root/MSVC++v16 (2019) Solution Space/.vs/MSVC++v16 (2019) Solution Space/v16/Browse.VC.opendb
C++ Development Root/MSVC++v16 (2019) Solution Space/.vs/MSVC++v16 (2019) Solution Space/v16/ipch/AutoPCH/4558ff957cdd3bf1/SIMPLEUI.ipch
C++ Development Root/MSVC++v16 (2019) Solution Space/.vs/MSVC++v16 (2019) Solution Space/v16/ipch/AutoPCH/91bd327b8aa35b2b/SESSION.ipch
C++ Development Root/MSVC++v16 (2019) Solution Space/.vs/MSVC++v16 (2019) Solution Space/v16/ipch/AutoPCH/9d432dfdf35300dd/LOGGERHANDLER.ipch
