
C++ Development Root/MSVC++v16 (2019) Solution Space/.vs/MSVC++v16 (2019) Solution Space/v16/ipch/AutoPCH/e433e17f3aefc4a9/SIMPLEUI.ipch
C++ Development Root/MSVC++v16 (2019) Solution Space/.vs/MSVC++v16 (2019) Solution Space/v16/Browse.VC.opendb
C++ Development Root/MSVC++v16 (2019) Solution Space/.vs/MSVC++v16 (2019) Solution Space/v16/Browse.VC.db-wal
C++ Development Root/MSVC++v16 (2019) Solution Space/.vs/MSVC++v16 (2019) Solution Space/v16/Browse.VC.db-shm
C++ Development Root/MSVC++v16 (2019) Solution Space/.vs/MSVC++v16 (2019) Solution Space/v16/Browse.VC.db
